<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='vue2.6.12_dev.js'></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <title>Hello Vue.js</title>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <form v-on:submit.prevent="addTask">
            <input type="text" placeholder="tâche à effectuer" v-model="task">
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <li 
                v-for="task in tasks"
                v-bind:class="{completed: task.done}"
                v-on:click="task.done = !task.done"
            >
                <span v-if="!task.isInEditMode">
                    <i class="fas fa-edit" v-on:click="switchMode(task)"></i> 
                    {{task.description}}
                </span>

                <span v-else>
                    <i class="far fa-thumbs-up" v-on:click="switchMode(task)"></i>
                    <input type="text" v-model="task.description">
                </span>
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
               title: "à faire",
               task: "task",
               tasks: []
            },
            methods: {
                addTask: function(){
                    this.tasks.push({
                        id: Date.now(), 
                        description: this.task, 
                        done: false,
                        isInEditMode: false
                    });
                    this.task = null;
                },
                switchMode: function(task){
                    task.isInEditMode = !task.isInEditMode;
                }
            }
        })
    </script>
</body>
</html>