<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='vue2.6.12_dev.js'></script>
    <title>Hello Vue.js</title>
</head>
<body>
    <div id="app">
        <h2>{{title}}</h2>
        <form v-on:submit.prevent="addTask">
            <input type="text" placeholder="tâche à effectuer" v-model="task">
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <li v-for="task in tasks">{{task}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
               title: "à faire",
               task: "task",
               tasks: []
            },
            methods: {
                addTask: function(){
                    this.tasks.push(this.task);
                    console.log("tasks", this.tasks);
                    this.task = '';
                }
            }
        })
    </script>
</body>
</html>